[Unit]
Description="uWSGI server instance configured to serve {{app.project_name}}"
After=network.target

User={{app.user}}
Group=nginx
WorkingDirectory={{ app.project_dir }}
Environment="PATH={{ hostvars.host.ansible_local.venv.path }}/bin"
ExecStart={{ hostvars.host.ansible_local.venv.path}}/bin/uwsgi --ini {{ app.project_name }}.ini